.app {
  font-family: Arial, Helvetica, sans-serif;
}

.app-header {
  background: #343a40;
}

.app-body {
  border-radius: 5px;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  min-height: 200px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

svg {
  height: 20px;
  width: 20px;
}

input {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: none;
  border-top: 1px solid gray;
  border-radius: 5px 0 0 5px;
  outline: none;
  padding: 5px 0 5px 5px;
}

.status {
  background: none;
  border-bottom: 1px solid gray;
  border-left: none;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  border-radius: 0 5px 5px 0;
  height: 36px;
  outline: none;
  padding: 5px;
}

.success {
  border-color: #25ae88;
}

.error {
  border-color: #d75a4a;
}

.text-success {
  color: #25ae88;
}

.text-error {
  color: #d75a4a;
}
